[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
tweepy = "*"
python-dotenv = "*"
duckduckgoimages = "*"
matplotlib = "*"
facepy = "*"
psutil = "*"
duckduckgo-search = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
unittest = "python -m unittest"
